html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: auto;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  margin-top: 37px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  text-decoration: none;
  font-size: 32px;
  font-family: "Montserrat", serif;
  font-weight: 700;
  color: #192252;
  line-height: 32px;
}
.header__ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.header__item {
  margin-right: 32px;
}
.header__link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #192252;
}
.header__button {
  background-color: #0E1734;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4%;
  padding: 14px 18px;
  border: none;
}

.nature {
  margin-top: 105px;
}
.nature__inner {
  display: flex;
  justify-content: space-between;
}
.nature__right {
  max-height: 668px;
}
.nature__left {
  max-width: 525px;
  margin-top: 135px;
}
.nature__h1 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Montserrat", serif;
  text-wrap: wrap;
  color: #192252;
  line-height: 150%;
  margin: 0;
}
.nature__p {
  font-size: 18px;
  color: #848FAC;
  text-wrap: wrap;
  max-width: 479px;
  line-height: 150%;
  margin: 23px 0px 0px 0px;
}
.nature__button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  background-color: #0E1734;
  color: white;
  border-radius: 4%;
  border: none;
  margin-top: 32px;
}
.nature__img1 {
  margin-bottom: 80px;
}
.nature__img2 {
  margin: 0 24px;
}
.nature__img3 {
  margin-bottom: 80px;
}

.cootage {
  margin-top: 176px;
}
.cootage__inner {
  display: flex;
  justify-content: space-between;
}
.cootage__left {
  max-width: 384px;
}
.cootage__right {
  max-width: 614px;
  margin-right: 76px;
}
.cootage__h2 {
  color: #192252;
  font-size: 36px;
  font-weight: 600;
  text-wrap: wrap;
  font-family: "Montserrat", serif;
  line-height: 150%;
  margin: 105px 0 0 0;
}
.cootage__p1 {
  color: #848FAC;
  font-size: 18px;
  text-wrap: wrap;
  max-width: 568px;
  line-height: 150%;
  margin: 24px 0 0 0;
}
.cootage__p2 {
  color: #848FAC;
  font-size: 18px;
  text-wrap: wrap;
  max-width: 556px;
  line-height: 150%;
  margin: 16px 0 48px 0;
}
.cootage__link {
  color: white;
  font-size: 16px;
  background-color: #0E1734;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 4%;
}

.cabin {
  margin-top: 160px;
}
.cabin__inner {
  display: flex;
  justify-content: space-between;
  margin-right: 106px;
}
.cabin__h2 {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #192252;
  margin: 113px 0 24px 0;
}
.cabin__p {
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  max-width: 580px;
  margin: 0;
}

.food {
  margin-top: 32px;
}
.food__inner {
  display: flex;
  margin-right: 106px;
  justify-content: space-between;
}
.food__h2 {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #192252;
  margin: 113px 0 24px 0;
}
.food__p {
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  max-width: 584px;
  margin: 0;
}

.choice {
  margin-top: 149px;
}
.choice__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.choice__h2 {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #192252;
  margin: 0;
}
.choice__p {
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  margin: 24px 0 32px 0;
  max-width: 588px;
}
.choice__link {
  color: white;
  font-size: 16px;
  background-color: #0E1734;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 4%;
}

.room {
  margin-top: 88px;
}
.room__inner {
  display: flex;
  justify-content: space-between;
}
.room__item {
  max-width: 384px;
}
.room__h2 {
  color: black;
  font-size: 24px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  line-height: 150%;
  margin: 32px 0 0 0;
}
.room__p {
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  margin: 16px 0 32px 0;
}
.room__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #424F7B;
  font-size: 18px;
  font-weight: 400;
  max-width: 129px;
  line-height: 150%;
}

.book {
  margin-top: 160px;
}
.book__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book__right {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 24px;
  width: 588px;
}
.book__h6 {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #424F7B;
  margin: 0;
}
.book__h2 {
  font-weight: 600;
  font-family: "Montserrat", serif;
  line-height: 150%;
  font-size: 36px;
  color: #192252;
  margin: 18px 0 24px 0;
}
.book__p {
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  margin: 0;
  max-width: 360px;
}
.book__links {
  display: flex;
  align-items: center;
  max-width: 316px;
  justify-content: space-between;
  margin-top: 32px;
}
.book__link1 {
  text-decoration: none;
  padding: 16px 32px;
  font-size: 16px;
  color: white;
  background-color: #0E1734;
  border-radius: 4%;
}
.book__link2 {
  text-decoration: none;
  font-size: 16px;
  color: #0E1734;
}
.book__item {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  color: #424F7B;
  line-height: 150%;
  box-shadow: 1px 1px 10px #192252;
  align-items: center;
  padding: 30px 36px;
}
.book__h3 {
  margin: 0;
  color: #424F7B;
  line-height: 150%;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book__rightp {
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  margin: 22px 0 0 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  max-width: 476px;
}
.book__item2 {
  margin: 24px 0 20px 0;
  box-shadow: 1px 1px 10px #192252;
  border-radius: 4px;
  padding: 36px;
}
.book__button {
  background-color: #FFECE2;
  border-radius: 50%;
  border: none;
  padding: 6px 8px;
}
.book__button2 {
  background-color: #FF620A;
  border-radius: 50%;
  border: none;
  padding: 6px 8px;
}

.customer {
  margin-top: 160px;
}
.customer__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.customer__h3 {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 36px;
  margin: 0;
  color: #192252;
  line-height: 150%;
}
.customer__p {
  color: #848FAC;
  font-size: 18px;
  line-height: 150%;
  max-width: 793px;
  text-align: center;
  margin: 0;
}
.customer__h4 {
  color: #192252;
  line-height: 150%;
  font-size: 20px;
  margin: 40px 0 22px 0;
  font-weight: 500;
}
.customer__img {
  margin: 62px 0 44px 0;
}

.footer {
  margin-top: 80px;
  background-color: #0B265A;
  padding: 120px 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__h4 {
  margin: 0;
  color: white;
  font-family: "Montserrat", serif;
  font-size: 32px;
  line-height: auto;
  font-weight: 700;
}
.footer__p {
  font-size: 16px;
  margin: 13px 0 36px 0;
  color: #D9DBDE;
  max-width: 171px;
  line-height: 28px;
}
.footer__icons {
  max-width: 144px;
  display: flex;
  justify-content: space-between;
}
.footer__right {
  display: flex;
}
.footer__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__li {
  margin-bottom: 24px;
}
.footer__h6 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1%;
  color: white;
}
.footer__a {
  margin: 0;
  text-decoration: none;
  color: #D9DBDE;
  font-size: 16px;
  line-height: auto;
}
.footer__ul1 {
  margin-right: 100px;
}
.footer__ul2 {
  margin-right: 141px;
}
.footer__ul3 {
  margin-right: 64px;
}