@import "vars";

html {
	box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
	box-sizing: inherit;
 }
 
 body {
	margin: 0;
	font-family: $main-font;
	font-style: normal;
	font-size: 18px;
	line-height: auto;
 }

 .container {
	max-width: 1200px;
	margin: auto;
}

.header {
	margin-top: 37px;
	&__inner {
	display: flex;
    justify-content: space-between;
    align-items: center;
	}

	&__logo {
		text-decoration: none;
		font-size: 32px;
		font-family: $second-font;
		font-weight: 700;
		color: #192252;
		line-height: 32px;
	}
	&__ul {
		list-style: none;
		display: flex;
		align-items: center;
	}
	&__item {
			margin-right: 32px;
	}
	&__link {
		text-decoration: none;
		font-family: $main-font;
		font-size: 16px;
		font-weight: 500;
		color: #192252;
	}
	&__button {
		background-color: #0E1734;
		color: white;
		font-family: $main-font;
		font-size: 16px;
		font-weight: 500;
		border-radius: 4%;
		padding: 14px 18px;
		border: none;
	}
}

.nature {
	margin-top: 105px;
	&__inner {
		display: flex;
      justify-content: space-between;
	}

	&__right {
		max-height: 668px;
	}
	&__left {
		max-width: 525px;
		margin-top: 135px;
	}

	&__h1 {
		font-size: 48px;
		font-weight: 600;
		font-family: $second-font;
		text-wrap: wrap;
		color: $main-color;
		line-height: 150%;
		margin: 0;
	}

	&__p {
		font-size: 18px;
		color: $second-color;
		text-wrap: wrap;
		max-width: 479px;
		line-height: 150%;
		margin: 23px 0px 0px 0px;
	}

	&__button {
		text-decoration: none;
		font-size: 16px;
		font-weight: 500;
		padding: 16px 32px;
		background-color: #0E1734;
		color: white;
		border-radius: 4%;
		border: none;
		margin-top: 32px;
	}

	&__img1 {
		margin-bottom: 80px;
	}

	&__img2 {
		margin: 0 24px;
	}

	&__img3 {
		margin-bottom: 80px;
	}
}

.cootage {
	margin-top: 176px;
	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		max-width: 384px;
	}

	&__right {
		max-width: 614px;
		margin-right: 76px;
	}
	&__h2 {
		color: $main-color;
		font-size: 36px;
		font-weight: 600;
		text-wrap: wrap;
		font-family: $second-font;
		line-height: 150%;
		margin: 105px 0 0 0;
	}

	&__p1 {
		color: $second-color;
		font-size: 18px;
		text-wrap: wrap;
		max-width: 568px;
		line-height: 150%;
		margin: 24px 0 0 0;
	}

	&__p2 {
		color: $second-color;
		font-size: 18px;
		text-wrap: wrap;
		max-width: 556px;
		line-height: 150%;
		margin: 16px 0 48px 0;
	}

	&__link {
		color: white;
		font-size: 16px;
		background-color: #0E1734;
		text-decoration: none;
		padding: 16px 32px;
		border-radius: 4%;
	}
}

.cabin {
	margin-top: 160px;
	&__inner {
		display: flex;
		justify-content: space-between;
		margin-right: 106px;
	}

	&__h2 {
		font-family: $second-font;
		font-weight: 600;
		font-size: 36px;
		line-height: 150%;
		color: $main-color;
		margin: 113px 0 24px 0;
	}

	&__p {
		font-size: 18px;
		line-height: 150%;
		color: $second-color;
		max-width: 580px;
		margin: 0;
	}
}

.food {
	margin-top: 32px;
	&__inner {
		display: flex;
		margin-right: 106px;
		justify-content: space-between;
	}

	&__h2 {
		font-family: $second-font;
		font-weight: 600;
		font-size: 36px;
		line-height: 150%;
		color: $main-color;
		margin: 113px 0 24px 0;
	}

	&__p {
		font-size: 18px;
		line-height: 150%;
		color: $second-color;
		max-width: 584px;
		margin: 0;
	}
}

.choice {
	margin-top: 149px;
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__h2 {
		font-family: $second-font;
		font-weight: 600;
		font-size: 36px;
		line-height: 150%;
		color: $main-color;
		margin: 0;
	}
	&__p {
		font-size: 18px;
		line-height: 150%;
		color: $second-color;
		margin: 24px 0 32px 0;
		max-width: 588px;
	}

	&__link {
		color: white;
		font-size: 16px;
		background-color: #0E1734;
		text-decoration: none;
		padding: 16px 32px;
		border-radius: 4%;
	}
}

.room {
	margin-top: 88px;
	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		max-width: 384px;
	}

	&__h2 {
		color: black;
		font-size: 24px;
		font-family: $second-font;
		font-weight: 600;
		line-height: 150%;
		margin: 32px 0 0 0;
	}

	&__p {
		font-size: 18px;
		line-height: 150%;
		color: $second-color;
		margin: 16px 0 32px 0;
	}

	&__link {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #424F7B;
		font-size: 18px;
		font-weight: 400;
		max-width: 129px;
	}
}